@font-face
{
    font-family: Source Sans Pro;
    src: url(ODelI1aHBYDBqgeIAH2zlBBHWFfxJXS04xYOz0jw624.woff);
}

@font-face
{
    font-family: Bitter-Regular;
    src: url(s9gJB935qk_YG8d-lnTdvA.woff);
}
 
p
{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    line-height: 1.5;
}

h1, h2, h3
{
    font-family: "Bitter-Regular", Georgia, serif;
    line-height: 1.3;
}

#header
{
    display: block;
    background-color: #d47618;
    height: 230px;
}

#logo
{
    height: 230px;
    float: left;
    position: relative;
    left: 100px;
}

.cycle-slideshow
{
    float: right;
}

.cycle-slideshow img
{
    display: none;
}

.cycle-slideshow img.first
{
    display: block;
}

#header .cycle-slideshow img
{
    height: 190px;
    margin: 15px 15px 15px 0;
    border: 5px solid white;
    border-radius: 5px;
}

#footer
{
    display: block;
    background-color: #d47618;
    clear: both;
}

#footer p
{
    color: white;
    height: 25px;
    padding: 50px;
    text-align: center;
}

.left
{
    float: left;
    width: 60%;
    margin: 0 30px 20px 100px;
}

.left span
{
    font-weight: bold;
    font-size: 30px;
    font-family: Palatino;
}

.left img
{
    width: 323px;
    height: 330px;
    border: 1px solid white;
    border-radius: 5px;
    display: block;
    margin: 20px auto;
}

#nam_byggist_a
{
    margin-left: 20px;
}

.right
{
    width: 30%;
    float: left;
    padding-left: 30px;
    width: 200px;
    background-color: rgba(247, 245, 231, 0.7);
    margin-top: 10px;
    margin-bottom: 10px;
}

nav
{
    margin-top: -16px;
    padding-left: 100px;
    background-color: #f7f5e7;
}

nav ul
{
    list-style: none;
}

nav li
{
    display: inline;
}

nav li a
{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-decoration: none;
    color: #141412;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    margin-right: -5px;
}

nav li a:hover
{
    background-color: #141412;
    color: white;
}

nav span
{
    font-style: italic;
}

html
{
    max-width: 1000px;
    margin: auto;
}
