@font-face
{
    font-family: Source Sans Pro;
    src: url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v6/ODelI1aHBYDBqgeIAH2zlBBHWFfxJXS04xYOz0jw624.woff);
}

@font-face
{
    font-family: Bitter-Regular;
    src: url(http://themes.googleusercontent.com/static/fonts/bitter/v4/s9gJB935qk_YG8d-lnTdvA.woff);
}
 
p
{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

h1
{
    font-family: "Bitter-Regular", Georgia, serif;
}

#header
{
    display: block;
    background-color: #d47618;
    height: 230px;
    padding-left: 30px;
}

#footer
{
    display: block;
    background-color: #d47618;
    clear: both;
}

#footer p
{
    color: white;
    margin: auto;
    height: 25px;
    width: 857px;
    padding: 50px;
}

/*#navbar
{
    margin-left: 30px;
}

#navbar a
{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-decoration: none;
    color: #141412;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    margin-right: -5px;
}

#navbar a:hover
{
    background-color: #141412;
    color: white;
}
*/

.main
{
    border: 1px solid black;
    display: inline-block;
    margin: auto;
}

.left
{
    /*float: left;*/
    width: 45%;
    margin-left: 30px;
    border: 1px solid black;
    display: inline-block;
}

.right
{
    width: 30%;
    /*float: left;*/
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    width: 160px;
    display: inline-block;
}

nav
{
    margin-top: -16px;
}

nav ul
{
    list-style: none;
}

nav li
{
    display: inline;
}

nav li a
{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    text-decoration: none;
    color: #141412;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    margin-right: -5px;
}

nav li a:hover
{
    background-color: #141412;
    color: white;
}
