#header
{
  display: block;
  background-color: #d47618;
  height: 230px;
}

#big-logo
{
  height: 230px;
  float: left;
  position: relative;
  left: 100px;
  /* IE: Removes blue border around image links */
  text-decoration: none;
  border: 0px;
}

#navbar-logo
{
  height: 50px;
  /* IE: Removes blue border around image links */
  text-decoration: none;
  margin-top: -15px;
}
